<div class="panels">
  <div class="panel flex gap-4">
    <div class="form-control">
      <span class="label">Upload svg</span>

      <input
        type="file"
        multiple="true"
        class="file-input"
        [formControl]="svgFileFormControl"
        (change)="onFileChanged($event)"
      />
    </div>

    <div class="form-control">
      <span class="label">Primary color</span>
      <input class="input" type="text" />
    </div>

    <div class="form-control">
      <span class="label">Secondary color</span>
      <input class="input" type="text" />
    </div>

    <div class="flex-1"></div>

    <button class="btn btn-ghost" (click)="onRerender()">Rerender</button>
    <button class="btn btn-ghost" (click)="onDiscard()">Discard</button>
    <ng-container *ngIf="loadingState$ | async as loadingState">
      <button
        [ngClass]="[
          'btn',
          'btn-primary',
          loadingState === 'loading' ? 'loading' : ''
        ]"
        (click)="onSave()"
        [disabled]="!form.valid"
      >
        Save
      </button>
    </ng-container>
  </div>

  <div class="panel h-full">
    <h3 class="font-bold text-lg">Preview</h3>
    <div class="vector-preview-grid">
      <ng-container *ngFor="let vectorGraphic of vectorGraphics">
        <div class="vector-preview cursor-pointer">
          <div>
            <app-base64-image [img]="vectorGraphic.image"></app-base64-image>
          </div>
          <span>{{ vectorGraphic.name }}</span>
          <div class="vector-preview-overlay">
            <div class="btn btn-sm" (click)="removeIcon(vectorGraphic)">D</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
