<div class="m-4">
  <form class="panel flex flex-col gap-4" [formGroup]="form">
    <h3 class="font-bold text-lg">New Vector Graphic</h3>

    <div class="form-control">
      <label class="label">
        <span class="label-text">SVG file</span>
      </label>
      <input
        type="file"
        class="file-input"
        [formControl]="svgFileFormControl"
        (change)="onFileChanged($event)"
      />
    </div>

    <div class="m-2">
      <app-base64-image
        classes="w-[8rem] h-[8rem]"
        [img]="vectorGraphic.image ?? ''"
      ></app-base64-image>
    </div>

    <div class="flex flex-col">
      <div class="form-control">
        <label class="label"><span class="label-text"> Icon name </span></label>
        <input
          class="input"
          placeholder="Icon name"
          [formControl]="iconNameFormControl"
        />
      </div>
    </div>
    <div class="flex flex-col">
      <div class="form-control">
        <label class="label flex gap-2 w-fit cursor-pointer">
          <input
            type="checkbox"
            checked="checked"
            class="checkbox"
            [formControl]="iconMaskFormControl"
          />
          <span class="label-text">Mask</span>
        </label>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="form-control">
        <label class="label"
          ><span class="label-text"> Children transformation </span></label
        >
        <label class="input-group flex">
          <input
            type="number"
            placeholder="x translation"
            class="input w-full"
            [formControl]="translationXFormControl"
          />
          <input
            type="number"
            placeholder="y translation"
            class="input w-full"
            [formControl]="translationYFormControl"
          />
          <input
            type="number"
            placeholder="scale"
            class="input w-full"
            [formControl]="scaleFormControl"
          />
          <input
            type="number"
            placeholder="rotation"
            class="input w-full"
            [formControl]="rotationFormControl"
          />
        </label>
      </div>
    </div>

    <div class="flex gap-2 ml-auto">
      <button class="btn btn-ghost" (click)="onDiscard()">Discard</button>
      <ng-container *ngIf="loadingState$ | async as loadingState">
        <button
          [ngClass]="[
            'btn',
            'btn-primary',
            loadingState === 'loading' ? 'loading' : ''
          ]"
          (click)="onSave()"
          [disabled]="!form.valid"
        >
          Save
        </button>
      </ng-container>
    </div>
  </form>
</div>
